---
---

<section class="scene-panel">
  <div class="scene-visual" id="scene-visual" data-bg="club">
    <img
      class="character-portrait"
      id="character-portrait"
      src="assets/characters/system.svg"
      alt="系統立繪"
      width="330"
      height="390"
    />
  </div>
</section>
